<section class="individual_results centerwrap">
    <hr>
    <div><h2><%= @participant.name.capitalize%></h2>
    <h2><%= @participant.gender == 0 ? 'Male' : 'Female' %></h2>
    <h2><%= @participant.age%></h2></div>
    <hr>
    <h3 class="golefter">Question</h3>
    <h3 class="gorighter">Answers</h3>
    <div class="clearfix"></div>
    <hr>
  <ul>
    <% @complete.each do |com|%>
      <li class="white"><p><%=com[0].prompt%><p></li>
      <li class="other"><p><%=com[1][1][1]%></p></li>
      <div class="clearfix"></div>
      <hr>
    <%end%>
  </ul>
</section>
